.card {
  width: 320px;
  background-color: #fff;
  margin: 10px 0px 10px 0px;
}

.card__image {
  height: 200px;
  width: 320px;
}

.card__description {
  width: calc(100% - 8px);
  padding: 4px;
  height: 52px;
}

.card__description--name {
  display: block;
  font-weight: bold;
  font-size: 10px;
}

.card__description--address {
  display: block;
  font-size: 8px;
  color: grey;
}

.card__action {
  width: 100%;
}

.card__action--book-appointment,
.card__action--more-info {
  background-color: #ffffff;
  border: none;
  text-transform: capitalize;
  color: blue;
  width: 100%;
  border-top: solid 1px #efefef;
  height: 26px;
}

.card__action--book-appointment {
  display: block;
}

.card__action--more-info {
  display: block;
}
