.header {
  display: flex;
  align-items: center;
  color: #ffffff;
  background-color: #f45a24;
  font-size: 24px;
  height: 80px;
  position: fixed;
  top: 100px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 1024px;
}

.header>span {
  margin-left: 20px;
}

.hide {
  display: none;
}

@media only screen and (max-width: 1023px) {
  .header {
    width: 100%;
    top: 0px;
    border-radius: 0px;
  }
}
