.home {
  width: 1024px;
  height: 576px;
  margin: auto;
  margin-top: 100px;
  background-image: url("./main-background.jpg");
  background-repeat: repeat-x;
  border-radius: 15px;
  box-shadow: 0 0 16px #cacad2;
  overflow-y: scroll;
}

.home::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 1023px) {
  .home {
    height: 100vh;
    width: 100%;
    margin-top: 0px;
    border-radius: 0px;
  }
}
