.hero {
  height: 50%;
  background-color: #f45a24;
  border-bottom: 25px solid #c93a0c;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 30px;
}

@media only screen and (max-width: 1023px) {
  .hero>span {
    width: 320px;
    text-align: center;
  }

  .hero {
    height: 300px;
    border-radius: 0px;
  }
}
