.card-section {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 200px;
  width: 100%;
}

@media only screen and (max-width: 1023px) {
  .card-section {
    margin: 20px 0px 20px 0px;
  }
}
