.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #ffffff;
  background-color: #7e93b0;
  position: fixed;
  top: 596px;
  z-index: 1000;
  height: 80px;
  width: 1024px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

@media only screen and (max-width: 1023px) {
  .footer {
    top: 0px;
    width: 100%;
    border-radius: 0px;
    position: relative;
  }
}
